/*Basic Layout*/
body{
  background-color:#C63D0F;
}

img{
  height:300px;
}
a{
  text-decoration: none;
}


/*Fonts*/
.menufont{
  font-family: 'Rum Raisin', sans-serif;
  font-size: 1.5em;
  font:black;
}
.fontt{
  font-family: 'Rum Raisin', FZCuSong, SimHei, Hiragino Sans GB, STFangsong, sans-serif;
}
.fontp{
  font-family: 'Dosis', SimSun, STHeiti Light, sans-serif;
  margin:3%;
}

.center{
    text-align: center;
}

/*Colors*/
.orange{
      color: #C63D0F;
}
.black{
      color: #3B3738;
}
.white{
      color: #FDF3E7;
}
.grey{
      color: #7E8F7C;
}
.shadow{
  padding-top:10px;
  padding-bottom:30px;
  margin: auto;
  width:80%;
  background-color:#FDF3E7;
  text-align: center;
}


/*Navigation Bar*/
.navcolor{
  background-color:#FDF3E8;
}

/*Home*/
.picture{
  vertical-align: top;
  display:inline-block;
}

.picheight{
  height: 300px;
}

/*rules*/
ul{
  font-family: 'Dosis', sans-serif;
  list-style-position: inside;
}





.gallerypic{
  height:180px;
}


.img-responsive {
    margin: 0 auto;
}



.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}